#### Hint on mean-centering and standardizing multiple columns using stack-transform-unstack

In [1]:
import pandas as pd
from dfply import *

In [2]:
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [5,6,7],
                   'C': [8, 11, 14]
                  })
df

   A  B   C
0  1  5   8
1  2  6  11
2  3  7  14

In [4]:
from more_dfply import ifelse, case_when
from math import sqrt

(df
 >> gather("group", "value", columns_from(X.A))
 >> mutate(value = ifelse(X.value != 'C',
                          X.value.apply(sqrt),
                          (True,
                          X.value)))
 >> group_by(X.group)
 >> mutate(centered = X.value - X.value.mean(),
           z_score = (X.value - X.value.mean())/X.value.std())
)

  group     value  centered   z_score
0     A  1.000000 -0.382088 -1.040882
1     A  1.414214  0.032125  0.087516
2     A  1.732051  0.349963  0.953366
3     B  2.236068 -0.207702 -1.013666
4     B  2.449490  0.005720  0.027916
5     B  2.645751  0.201982  0.985750
6     C  2.828427 -0.467143 -1.022241
7     C  3.316625  0.021055  0.046074
8     C  3.741657  0.446088  0.976166